<div class="container">
  <h1 class="title">Add Test Case</h1>
  <form action="/addTest" method="post">
    <label for="name">Homework 1</label>
    <input type="text" name="name" value="">
    <label for="email">Homework 2</label>
    <input type="email" name="email" value="">
    <label for="email">Homework 3</label>
    <input type="email" name="email" value="">
    <label for="email">Exam 1</label>
    <input type="email" name="email" value="">
    <label for="email">Exam 2</label>
    <input type="email" name="email" value="">
    <input type="submit" value="Submit">
  </form>
</div>
