<body>
  <div class="container">
    <h1 class="title">Add Test Case</h1>
    <form action="/grade" method="post">
      <label for="hw1">Homework 1</label>
      <input id="hw1" type="text" name="hw1" value="">
      <label for="hw2">Homework 2</label>
      <input id="hw2" type="text" name="hw2" value="">
      <label for="hw3">Homework 3</label>
      <input id="hw3" type="text" name="hw3" value="">
      <label for="exam1">Exam 1</label>
      <input id="exam1" type="text" name="exam1" value="">
      <label for="exam2">Exam 2</label>
      <input id="exam2" type="text" name="exam2" value="">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
