<form action="/grade" method="post">
    <input type="text" name="hw1" placeholder="HW1">
    <input type="text" name="hw2" placeholder="HW2">
    <input type="text" name="hw3" placeholder="HW3">
    <input type="text" name="exam1" placeholder="Exam1">
    <input type="text" name="exam2" placeholder="Exam2">
    <input type="submit" name="Submit">
  </form>